body{
    color: #ccccccab
}
a{
    text-decoration: none;
    transition: border-color .25s;
}
.header-mask{
    padding-top: 35%;
}
.header{
    font-family: Grandslang roman, sans-serif;
    color: #F9AAC5;
    font-size: 14vw;
    font-weight: 300;
    line-height: 1em;
    text-align: center;
    
}
.descricao{
    max-width: 100%; /*50*/
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.9em;
    margin-left: 10%;
}
.link{
    color: #ece7e1;
    border: 1px #c69e91;
    border-bottom: 1px solid #ece7e1;
}
.link:hover{
    border:none;
    text-decoration:line-through 2px;
}

