
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Baskervville:ital@0;1&family=Erica+One&display=swap');

a{
    text-decoration: none;
    color: #323232;
    cursor: pointer;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000000e5;
    /*background-image: linear-gradient(to right, #0705052a 1px, transparent 1px),
    linear-gradient(to bottom, #ffffff2c 1px, transparent 1px);
    background-size: 20px 20px;*/
}

.window {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow: hidden;
    border: 1px solid #000;
    margin: 1vh;   
    flex-direction: column; 
}
.window-bar {
    display: flex;
    align-items: center;
    padding: 5px 10px; 
    background: #F9AAC5;
    border: 1px solid #000;
}
.window-buttons {
    display: flex;
}
.button {
    width: 10px; 
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
    border: 1px solid #000;
    background: #fcfafa;
}

.window-title {
    flex: 1;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #000; 
    justify-items: end;
}
.window-body {
  
    display: flex;
    flex-direction: column;
    align-items: center;
}


.code-editor {
    font-family: 'Courier New', monospace;
    background-color: #1E1E1E;
    padding: 1vh;
    border: 1px solid #333;
    width: 100%;
}

.line-numbers {
    display: inline-block;
    user-select: none;
    width: 100%; 
}

.line-numbers span {
    color: #555;
    
}
.line-numbers .texto{
    color: white;
}
.line-numbers a{
    color: white;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    font-family: 'Barlow';
}
.code-editor .tag {
    color: #00BFFF; 
}
.code-editor .tag-class{
    color:aqua;
}
.code-editor .tag-class-name{
    color: orange;
   
}
.code-editor .animantion-end{
    border-right: 2px solid;
    animation: blinking 0.5s infinite step-end alternate;
    color: white;
}

.container{
  color: #ccccccab;
} 
.title{
    font-size: 16px;
}
.h1{
    font-size: 16px;
}
.saudacao{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    margin-left: 30px;
    height: 100%;
    justify-content: center;
    align-content: center;

}
.titulo-saudacao {
    margin: 20px;
    font-family: monospace;
    border-right: 4px solid;
    width: 19ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(19), blinking 0.5s infinite step-end alternate;
}
.descricao-saudacao{
    font-family: 'Barlow', sans-serif;
    display: flex;
    line-height: 1.5;
    letter-spacing: 1px;
    max-width: 400px;
}

#hamburger-button {
    display: none; 
    background-color: #F9AAC5; 
    border: none; 
    border-radius: 50%; 
    width: 50px; 
    height: 50px; 
    color: white; 
    font-size: 12px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin: 15px;
}

#hamburger-button:hover {
    background-color: aqua; 
}
object{
    width: 100%;
    height: 100vh;
}

@keyframes blinking {
    50% {
     border-color: transparent;
    }
    
  }

@keyframes typing { 
    from{
      width: 0;
    }
  }
  

/*Sobre*/

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imagem-redonda {
  width: 150px; 
  border-radius: 50%;
  margin: 5px;
}

.about h1{
font-size: 28px;
font-family: Grandslang roman, sans-serif
}
.descricao{
  font-size: 16px;
  font-family: "Barlow", cursive;
  max-width: 650px; 
  margin: 0 auto; 
}
.resume{
width: 100px;
background-color: #78E1EB;
border-radius: 10px;
padding: 10px;
margin-top: 5%;
transition: all 0.3s ease;
}
.resume:hover{
width: 120px;
}
.resume a{
color: white;
font-weight: bold;
}

@media (max-width: 480px){
    .window{
        padding: 0;
    }
    .row>*{
        padding: 0 !important;
    }
}
