a{
  text-decoration: none;
}
.container{
   
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #ccccccab;
    flex-wrap: wrap;
}

.imagem-redonda {
    width: 250px; /* ajuste o tamanho conforme necessário */
    border-radius: 50%;
    border: 3px dashed var(--rosa-claro);
    margin: 20px;
}

.about{
    position: absolute;
    left: 14%;
    top: 25%;
}
.about h1{
  font-size: 44px;
  font-family: Grandslang roman, sans-serif
}
.descricao{
    font-size: 16px;
    font-family: "Barlow", cursive;
    max-width: 650px; 
    margin: 0 auto; 
}
.resume{
  width: 80px;
  background-color: #78E1EB;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5%;
  transition: all 0.3s ease;
}
.resume:hover{
  width: 120px;
}
.resume a{
  color: white;
  font-weight: bold;
}

