a{
  text-decoration: none;
}
.container{
   
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #ccccccab;
    flex-wrap: wrap;
}

.imagem-redonda {
    width: 250px; /* ajuste o tamanho conforme necessário */
    border-radius: 50%;
    border: 3px dashed var(--rosa-claro);
    margin: 20px;
}

.about{
    position: absolute;
    left: 14%;
    top: 25%;
}
.about h1{
  font-size: 44px;
  font-family: Grandslang roman, sans-serif
}
.descricao{
    font-size: 16px;
    font-family: "Barlow", cursive;
    max-width: 650px; 
    margin: 0 auto; 
}
.resume{
  width: 80px;
  background-color: #78E1EB;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5%;
  transition: all 0.3s ease;
}
.resume:hover{
  width: 120px;
}
.resume a{
  color: white;
  font-weight: bold;
}

/* Estilos para smartphones */
@media only screen and (max-width: 480px) {
  
  .window{
    display: none;

  }

  .imagem-redonda {
    width: 150px;
    margin: 5px;
  }
  .about{
    position: absolute;
    left: 0%;
    top: 10%;
    width: 100%;
}
  .about h1{
    font-size: 28px;
  }
  .descricao{
    font-size: 14px;
   
  }
  .resume{
    width: 80px;
  }
  .resume:hover{
    width: 100px;
  }
}

/* Estilos para smartphones em modo paisagem */
@media only screen and (min-width: 480px) and (max-width: 768px) and (orientation: landscape) {
  .imagem-redonda {
    width: 120px;
    margin: 8px;
  }
  .about h1{
    font-size: 32px;
  }
  .descricao{
    font-size: 14px;
    max-width: 400px;
  }
  .resume{
    width: 65px;
  }
  .resume:hover{
    width: 85px;
  }
}

@media only screen and (max-width: 768px) {
  .about h1{
    margin-top: 100px;
    font-size: 32px;
  }
}